

<div class="container">
    <h2>Patient Profile</h2>
    <table class="table table-bordered">
        <tr>
            <th>Full Name</th>
            <td>@Model.FullName</td>
        </tr>
        <tr>
            <th>Gender</th>
            <td>@Model.Gender</td>
        </tr>
        <tr>
            <th>Date of Birth</th>
            <td>@Model.DateOfBirth.ToString("yyyy-MM-dd")</td>
        </tr>
        <tr>
            <th>National ID/Passport Number</th>
            <td>@Model.NationalIdOrPassport</td>
        </tr>
        <tr>
            <th>Phone Number</th>
            <td>@Model.PhoneNumber</td>
        </tr>
        <tr>
            <th>Email Address</th>
            <td>@Model.EmailAddress</td>
        </tr>
        <tr>
            <th>Address</th>
            <td>@Model.Address</td>
        </tr>
        <tr>
            <th>Emergency Contact Name</th>
            <td>@Model.EmergencyContactName</td>
        </tr>
        <tr>
            <th>Emergency Contact Relationship</th>
            <td>@Model.EmergencyContactRelationship</td>
        </tr>
        <tr>
            <th>Emergency Contact Phone Number</th>
            <td>@Model.EmergencyContactPhoneNumber</td>
        </tr>
        <tr>
            <th>Blood Type</th>
            <td>@Model.BloodType</td>
        </tr>
        <tr>
            <th>Allergies</th>
            <td>@Model.Allergies ?? "None"</td>
        </tr>
        <tr>
            <th>Chronic Diseases/Conditions</th>
            <td>@Model.ChronicDiseases ?? "None"</td>
        </tr>
        <tr>
            <th>Current Medications</th>
            <td>@Model.CurrentMedications ?? "None"</td>
        </tr>
    </table>

    <a href="@Url.Action("Edit", "Patients", new { id = Model.Id })" class="btn btn-primary">Edit</a>
</div>
